.vue-helper-docs-container {
  background-color: white;
}

.vue-helper-docs-container iframe {
    position: absolute;
    border: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.vue-helper-docs-container .docs-notice {
  position: absolute;
  right: 10px;
  background: #50bfff;
  color: white;
  padding: 2px 8px;
  border-radius: 2px;
  z-index: 9999;
}

.vue-helper-docs-container .docs-notice a {
  color: inherit;
  text-decoration: underline;
}

.vue-helper-loading-mask, .vue-helper-move-mask {
    position: absolute;
    z-index: 10000;
    background-color: hsla(0,0%,100%,.9);
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity .3s
}
.vue-helper-move-mask {
  display: none;
  background-color: hsla(0,0%,100%,0);
}

.vue-helper-loading-mask.is-fullscreen {
    position: fixed
}

.vue-helper-loading-mask.is-fullscreen .vue-helper-loading-spinner {
    margin-top: -25px
}

.vue-helper-loading-mask.is-fullscreen .vue-helper-loading-spinner .circular {
    width: 50px;
    height: 50px
}

.vue-helper-loading-spinner {
    top: 50%;
    margin-top: -21px;
    width: 100%;
    text-align: center;
    position: absolute
}

.vue-helper-loading-spinner .vue-helper-loading-text {
    color: #20a0ff;
    margin: 3px 0;
    font-size: 14px
}

.vue-helper-loading-spinner .circular {
    width: 42px;
    height: 42px;
    animation: loading-rotate 2s linear infinite
}

.vue-helper-loading-spinner .path {
    animation: loading-dash 1.5s ease-in-out infinite;
    stroke-dasharray: 90,150;
    stroke-dashoffset: 0;
    stroke-width: 2;
    stroke: #20a0ff;
    stroke-linecap: round
}

.vue-helper-loading-fade-enter, .vue-helper-loading-fade-leave-active {
    opacity: 0
}

@keyframes loading-rotate {
    to {
        transform: rotate(1turn)
    }
}

@keyframes loading-dash {
    0% {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0
    }

    50% {
        stroke-dasharray: 90,150;
        stroke-dashoffset: -40px
    }

    to {
        stroke-dasharray: 90,150;
        stroke-dashoffset: -120px
    }
}